
body{
    padding: 0;
    margin: 0;
}

.body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}



.pehla{
    width: 65%;
    height: 10%;
    /* background-color: pink; */
    /* background-image: linear-gradient (to right , pink , white); */
    background-image: linear-gradient(to right , white, rgb(255, 245, 246) , white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dosra{
    width: 65%;
    height: 90%;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

}


.profit , .loss , .history{
    width: 30%;
    height: 40%;
    background-color: rgb(255, 240, 240);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.history{
    background-color: rgb(255, 253, 230);
    overflow-y: auto    ;

    
    
}


.profit{
background-color: rgb(233, 255, 233);
}


h1{
    color: rgb(44, 44, 44);
    font-size: xx-large;
    font-weight: 300;
    font-family:cursive;
}



.li{

    width: 75%;
    height: 20%;
    /* text-align: center; */
    /* background-color: rgb(255, 251, 206); */
    
    list-style: none;

    display: flex;
    justify-content: space-around;

    /* border-left: 1px solid orange; */

    padding: 0;
    margin: 0;

    
}

.addition{

    background-color: rgb(240, 255, 237);
    border-left: 1px solid green;

}


.minus{
    background-color: rgb(255, 238, 238);
    border-left: 1px solid red;


}





.form-control{
    width: 65%;
}




